# 作業 : (Kaggle)鐵達尼生存預測精簡版 
https://www.kaggle.com/c/titanic

# 作業1
* 下列A~E五個程式區塊中，哪一塊是特徵工程?
* ANS : 區塊C

# 作業2
* 對照程式區塊 B 與 C 的結果，請問那些欄位屬於"類別型欄位"? (回答欄位英文名稱即可) 
* ANS :  Sex、Ticket、Cabin、Embarked

# 作業3
* 續上題，請問哪個欄位是"目標值"?
* ANS : column ['SURVIVED']

In [1]:
# 程式區塊 A
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, MinMaxScaler

data_path = '../data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
df_train.shape

(891, 12)

In [2]:
# 程式區塊 B
train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head(50)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
30,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
31,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
32,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
33,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
34,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
35,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
36,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
41,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
42,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
43,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C
44,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
48,3,"Samaan, Mr. Youssef",male,NaN,2,0,2662,21.6792,NaN,C
49,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S

In [3]:
# 程式區塊 C
LEncoder = LabelEncoder()
MMEncoder = MinMaxScaler()
for c in df.columns:
    df[c] = df[c].fillna(-1)
    if df[c].dtype == 'object':
        df[c] = LEncoder.fit_transform(list(df[c].values))
    df[c] = MMEncoder.fit_transform(df[c].values.reshape(-1, 1))
df.head(50)

C:\Users\kevin\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1.0,0.118683,1.0,0.283951,0.125,0.000000,0.775862,0.016072,0.000000,1.000000
1,0.0,0.218989,0.0,0.481481,0.125,0.000000,0.879310,0.140813,0.575269,0.333333
2,1.0,0.400459,0.0,0.333333,0.000,0.000000,0.984914,0.017387,0.000000,1.000000
3,0.0,0.323124,0.0,0.444444,0.125,0.000000,0.070043,0.105390,0.381720,1.000000
4,1.0,0.016845,1.0,0.444444,0.000,0.000000,0.699353,0.017630,0.000000,1.000000
5,1.0,0.626340,1.0,0.000000,0.000,0.000000,0.401940,0.018425,0.000000,0.666667
6,0.0,0.587289,1.0,0.679012,0.000,0.000000,0.117457,0.102980,0.881720,1.000000
7,1.0,0.699847,1.0,0.037037,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
8,1.0,0.463247,0.0,0.345679,0.000,0.222222,0.514009,0.023636,0.000000,1.000000
9,0.5,0.648545,0.0,0.185185,0.125,0.000000,0.187500,0.060528,0.000000,0.333333
10,1.0,0.816998,0.0,0.061728,0.125,0.111111,0.904095,0.034481,0.994624,1.000000
11,0.0,0.101838,0.0,0.728395,0.000,0.000000,0.053879,0.053669,0.338710,1.000000
12,1.0,0.819296,1.0,0.259259,0.000,0.000000,0.789871,0.017630,0.000000,1.000000
13,1.0,0.029096,1.0,0.493827,0.125,0.555556,0.494612,0.062874,0.000000,1.000000
14,1.0,0.934916,0.0,0.185185,0.000,0.000000,0.609914,0.017249,0.000000,1.000000
15,0.5,0.408116,0.0,0.691358,0.000,0.000000,0.219828,0.033117,0.000000,1.000000
16,1.0,0.761868,1.0,0.037037,0.500,0.111111,0.710129,0.058686,0.000000,0.666667
17,0.5,0.973201,1.0,0.000000,0.000,0.000000,0.216595,0.027273,0.000000,1.000000
18,1.0,0.931853,0.0,0.395062,0.125,0.000000,0.449353,0.037013,0.000000,1.000000
19,1.0,0.581930,0.0,0.000000,0.000,0.000000,0.261853,0.016023,0.000000,0.333333
20,0.5,0.323890,1.0,0.444444,0.000,0.000000,0.196121,0.052598,0.000000,1.000000
21,0.5,0.085758,1.0,0.432099,0.000,0.000000,0.218750,0.027273,0.774194,1.000000
22,1.0,0.595712,0.0,0.197531,0.000,0.000000,0.408405,0.017589,0.000000,0.666667
23,0.0,0.850689,1.0,0.358025,0.000,0.000000,0.058190,0.071104,0.096774,1.000000
24,1.0,0.702144,0.0,0.111111,0.375,0.111111,0.582974,0.043004,0.000000,1.000000
25,1.0,0.049005,0.0,0.481481,0.125,0.555556,0.489224,0.063093,0.000000,1.000000
26,1.0,0.284074,1.0,0.000000,0.000,0.000000,0.256466,0.016023,0.000000,0.333333
27,0.0,0.309342,1.0,0.246914,0.375,0.222222,0.132543,0.514290,0.435484,1.000000
28,1.0,0.677642,0.0,0.000000,0.000,0.000000,0.414871,0.017297,0.000000,0.666667
29,1.0,0.908116,1.0,0.000000,0.000,0.000000,0.537716,0.017330,0.000000,1.000000
30,0.0,0.922665,1.0,0.506173,0.000,0.000000,0.881466,0.055950,0.000000,0.333333
31,0.0,0.866003,0.0,0.000000,0.125,0.000000,0.864224,0.287380,0.295699,0.333333
32,1.0,0.341501,0.0,0.000000,0.000,0.000000,0.427802,0.017046,0.000000,0.666667
33,0.5,0.957887,1.0,0.827160,0.000,0.000000,0.809267,0.022403,0.000000,1.000000
34,0.0,0.607198,1.0,0.358025,0.125,0.000000,0.883621,0.162022,0.000000,0.333333
35,0.0,0.424196,1.0,0.530864,0.125,0.000000,0.059267,0.103248,0.000000,1.000000
36,1.0,0.574273,1.0,0.000000,0.000,0.000000,0.293103,0.016031,0.000000,0.333333
37,1.0,0.148545,1.0,0.271605,0.000,0.000000,0.760776,0.017630,0.000000,1.000000
38,1.0,0.929556,0.0,0.234568,0.250,0.000000,0.450431,0.037013,0.000000,1.000000
39,1.0,0.660031,0.0,0.185185,0.125,0.000000,0.264009,0.023848,0.000000,0.333333
40,1.0,0.009188,0.0,0.506173,0.125,0.000000,0.748922,0.020406,0.000000,1.000000
41,0.5,0.921899,0.0,0.345679,0.125,0.000000,0.074353,0.042857,0.000000,1.000000
42,1.0,0.506891,1.0,0.000000,0.000,0.000000,0.577586,0.017330,0.000000,0.333333
43,0.5,0.519142,0.0,0.049383,0.125,0.222222,0.935345,0.082947,0.000000,0.333333
44,1.0,0.248851,0.0,0.246914,0.000,0.000000,0.413793,0.017297,0.000000,0.666667
45,1.0,0.777182,1.0,0.000000,0.000,0.000000,0.905172,0.017630,0.000000,1.000000
46,1.0,0.534456,1.0,0.000000,0.125,0.000000,0.686422,0.032143,0.000000,0.666667
47,1.0,0.676876,0.0,0.000000,0.000,0.000000,0.107759,0.017046,0.000000,0.666667
48,1.0,0.815467,1.0,0.000000,0.250,0.000000,0.275862,0.044181,0.000000,0.333333
49,1.0,0.039816,0.0,0.234568,0.125,0.000000,0.560345,0.036624,0.000000,1.000000

In [4]:
# 程式區塊 D
train_num = train_Y.shape[0]
train_X = df[:train_num]
test_X = df[train_num:]

from sklearn.linear_model import LogisticRegression
estimator = LogisticRegression()
estimator.fit(train_X, train_Y)
pred = estimator.predict(test_X)

In [6]:
# 程式區塊 E
sub = pd.DataFrame({'PassengerId': ids, 'Survived': pred})
sub.to_csv('titanic_baseline.csv', index=False)